.button--link {
    display: block;
    width: fit-content;
  
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: uppercase;
    text-decoration: none;
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-radius: 20px;
    background-color: var(--color-dark-lilac);
    /*
      background-image: linear-gradient(to bottom, var(--color-dark-lilac), var(--color-dark-lilac)), linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
      background-origin: border-box;
      background-clip: content-box, border-box;
      */
  }
  
  
  
