.messageCardCreated {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
p {
  color: black;
}
