.get-avatar {
  display: flex;
  margin: 30px 0;
}

.get-avatar__label {
  // cursor: pointer;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // box-sizing: border-box;
  // background: deeppink;
  // border-radius: 15px;
  // border: 0;
  // font-family: sans-serif;
  // font-size: 20px;
  // padding: 10px 20px;
  // color: #fff;
  display: block;
  min-width: 120px;
  max-width: 150px;

  margin: 8px;
  padding: 5px 18px;
  color: var(--color-white);
  font: var(--font-button);
  text-transform: none;
  text-decoration: none;
  text-align: center;

  border-radius: 40px;
  background-image: linear-gradient(
    to right,
    var(--color-dark-lilac) -2%,
    #6a040f 98%
  );

  cursor: pointer;

  .get-avatar__upload-field {
    display: none;
  }
}

.get-avatar__preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 50px;
  margin-left: 15px;
  width: 50px;
}
