.preview .projectImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: solid 1px pink;
  // background-image: url("../../images/ebook-example.jpg");
  background-position: top center;
  background-size: cover;
}

.preview .card {
  margin-inline: 20px;

  transform: translateY(-45px);
}

.containerListDetail {
  display: grid;
  gap: 20px;
}

.projectsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  color: var(--color-black);
  font: var(--font-card-text);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-white) 0%,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  background-image: linear-gradient(
      to bottom,
      var(--color-white),
      var(--color-white)
    ),
    linear-gradient(to bottom, var(--color-white) 0%, rgba(0, 0, 0, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 20px; 
  transition: transform 0.3s ease;

  cursor: pointer; 
}

#hover-card:hover{
  transform: scale(1.05); 
}


/* Media query para pantallas con ancho igual o mayor a 1180px */
@media screen and (min-width: 1180px) {
  .card {
      width: 75%;
      margin-right: 20px; 
  }
}

/* Media query para pantallas con ancho igual o mayor a 768px */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
      margin-right: 0; 
  }
}

.card .card__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 1rem 0;
  text-align: center;
  text-transform: capitalize;

  font: var(--font-card-section);
}

.card .card__projectTitle::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  bottom: calc(50% - 1px);
  left: 0;
  right: 0;
  z-index: 0;

  background-image: linear-gradient(
    to right,
    white,
    #232323 15%,
    var(--color-black),
    #232323 85%,
    white
  );
}

.card .card__projectTitle--text {
  position: relative;
  padding-inline: 0.1em;
  z-index: 1;
  background-color: var(--color-white);
}

.card .card__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.card .card__authorPhoto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  // background-image: url("../../images/avatar.webp");
  background-position: center;
  background-size: cover;
  margin-bottom: 0.8rem;
}

.card .card__job {
  margin-bottom: 0.2rem;
}
.centerName {
  text-align: center;
}
.card .card__name {
  
  font: var(--font-card-title);
  margin-bottom: 0.2rem;
}

.card .card__project {
  margin-right: 10px;
}

.card .card__slogan {
  font: var(--font-card-subtitle);
  margin-top: -0.2rem;
  margin-bottom: 0.8rem;
}

.card .card__descriptionTitle {
  font-weight: inherit;
  text-transform: capitalize;
}

.card .card__technicalInfo {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 0.5em;

  margin-block: 1.8rem;
}

.card .card__technologies {
  font: var(--font-card-tech);
}
